name: ci-pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

# ---------------------------------------------------------
# CODE SECURITY (CodeQL)
# ---------------------------------------------------------
  codeql:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript
          build-mode: none

      - name: Install Backend Deps
        working-directory: backend
        run: npm ci

      - name: Install Frontend Deps
        working-directory: frontend
        run: npm ci

      - name: Analyze
        uses: github/codeql-action/analyze@v3

# ---------------------------------------------------------
# LINT
# ---------------------------------------------------------
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Backend Lint
        working-directory: backend
        run: |
          ls
          ls package-lock.json
          npm ci
          npm run lint || echo "No backend lint"

      - name: Frontend Lint
        working-directory: frontend
        run: |
          ls
          ls package-lock.json
          npm ci
          npm run lint || echo "No frontend lint"

# ---------------------------------------------------------
# TESTS
# ---------------------------------------------------------
  test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Backend Tests
        working-directory: backend
        run: |
          npm ci
          npm test || echo "No backend tests"

      - name: Frontend Tests
        working-directory: frontend
        run: |
          npm ci
          npm test || echo "No frontend tests"

# ---------------------------------------------------------
# DOCKER BUILD & PUSH
# ---------------------------------------------------------
  docker-build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: hardik0811
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build & Push
        working-directory: backend
        run: |
          docker build -t hardik0811/educonnect:latest .
          docker push hardik0811/educonnect:latest
